
.subContainer .ccv:after, .subContainer .date:after, .subContainer .cardNum:after {
    position: absolute;
    top: -25px;
    font-family: "Roboto", sans-serif;
    left: 0;
    color: rgba(142, 190, 255, 0.9);
    font-size: 13px;
}

.subContainer .ccv p, .subContainer .date p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 4px 20px;
    padding-right: 25px;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.area {
    padding: 20px;
    width-max:80%;
    height: 500px;
    background: #FFF;
    box-shadow: 0px 0px 40px 1px #eee;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-template-areas: "mGrid card";
    min-height: 0;
    min-width: 0;
    border-radius: 9px;
    z-index: 7;
}

.button-submit {
    text-align: center;
}

.mGrid {
    /* grid-area: mGrid; */
    /* display: grid; */
    /* grid-template-rows: repeat(3, 1fr); */
    overflow: hidden;
    justify-content: center;
    /* margin-top: 15px; */
    margin-left: -10px;

}

input.bordered {
    border: 1px solid #aaa;
    border-radius: 10px;

    padding: 7px;
}

input.transaparent {
    border: 0px;
    color: #fff;
    background-color: #3799ff !important;
    padding: 7px;
}

.total {
    padding-top: 10px;
    align-self: end;
}

.total p {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px;
    color: #808eab;
    letter-spacing: 0.15rem;
}

.total p:last-child input {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #0b82f8;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
}

.detail {
    font-family: "Roboto", sans-serif;
    align-self: start;
    display: grid;
    margin-top: 10px;
}

.detail p {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #808eab;
    letter-spacing: 0.15rem;
    margin-bottom: 10px;
}

.detail ul {
    list-style-type: none;

    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-content: start;
}

.detail ul li {
    display: inline-block;
    color: #515860;
    text-align: left;
    font-size: 15px;
}

.detail ul li:last-child {
    text-align: right;
    color: #0b82f8;
    font-family: "Roboto", sans-serif;
}

button {

    justify-self: center;
    align-self: center;
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    color: #0b82f8;
    border: 1px solid #0b82f8;
    text-transform: uppercase;
    font-size: 0.97rem;
    opacity: 0.8;
    font-weight: lighter;
    padding: 7px 40px;
    border-radius: 7px !important;
    cursor: pointer;
    outline: none;
    margin: auto;
}

button:hover {
    transition: all 0.2s linear;
    background: #0b82f8;
    color: #FFF;

}

.subContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 270px;
    width: 400px;
    border-radius: 9px;
    font-family: "Roboto", sans-serif;
    bottom: 0;
    color: #fff;
    min-height: 0;
    min-width: 0;
    background: #1f8fff;
    box-shadow: -10px 10px 60px 10px #ADB7C4;
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "name name  . . . visa visa " "cardNum cardNum cardNum cardNum cardNum . ." " date date date date . ccv ccv ";
}

.subContainer p, .subContainer .cardHolder, .subContainer .visaCont, .subContainer .cardNum, .subContainer .date, .subContainer .ccv {
    margin-left: 35px;
    margin-top: -25px;
}



.subContainer .cardHolder {
    position: relative;
    grid-area: cardNum;
    background: #3799ff;
    align-self: center;
    padding: 7px 5px;
    font-size: 19px;
}
.subContainer .cardHolder:after {
    content: "Nome no cartão";
}

.subContainer p {
    padding-top: 25px;
    font-weight: 600;
    grid-area: name;
    margin-top: 0px;
}

.subContainer .visaCont {
    display: grid;
    grid-area: visa;
    overflow: hidden;
    margin: 0;
    justify-self: center;
    align-self: center;
}

.subContainer .visaCont svg {
    height: 50px;
    width: 100px;
}

.subContainer .cardNum {
    position: relative;
    grid-area: cardNum;
    background: #3799ff;
    align-self: center;
    padding: 7px 5px;
    font-size: 19px;
}


.subContainer .cardNum:after {
    content: "Número do cartão";
}

.subContainer .cardNum ul {
    list-style-type: none;
    text-align: center;
}

.subContainer .cardNum ul li {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    letter-spacing: 1px;
}

.subContainer .cardNum ul li:last-child {
    text-align: right;
}

.subContainer .date {
    position: relative;
    grid-area: date;
    background: #3799ff;
    align-self: center;
    justify-self: left;
}

.subContainer .date:after {
    content: "Vencimento";
}

.subContainer .ccv {
    position: relative;
    grid-area: ccv;
    align-self: center;
    justify-self: left;
    background: #3799ff;
    margin-left: 0;
}

.subContainer .ccv:after {
    content: "CCV";
}

.subContainer .ccv p {
    padding: 4px 12px;
    letter-spacing: 1px;
}
